<ng-container *ngIf="faqs?.length === 0 && !loading">
  <div class="alert alert-warning mt-3" role="alert">
    暂无常问问题。
  </div>
</ng-container>

  <div class="spinner-item" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="20">
    </mat-progress-spinner>
  </div>

<ng-container *ngIf="faqs?.length">
  <div class="px-2 pt-3" *ngFor="let faq of faqs; let i=index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="py-3">
          问题 {{i+1}}： {{faq.question}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="answer">
        {{faq.answer}}
      </div>
    </mat-expansion-panel>
  </div>
</ng-container>