<!-- <mat-accordion>
  <mat-expansion-panel [expanded]="opened" (opened)="setExpansionStatus(true)">
    <mat-expansion-panel-header>
      请选择药学专科门诊
    </mat-expansion-panel-header>
    <ng-container *ngIf="departments$ | async; let departments">
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let dep of departments" (click)="selectDepartment(dep._id)">
          {{dep.name}}
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion> -->

<div class="d-flex">
  <div class="">
    <ul class="list-group list-group-flush" *ngIf="departments$ | async; let departments">
      <li class="list-group-item dep-item" [class.active]="dep._id === selectedDepartment"
        *ngFor="let dep of departments" (click)="selectDepartment(dep._id)">
        {{dep.name}}
      </li>
    </ul>
  </div>
  <div class="flex-grow-1">
    <app-select-doctors [pageType]="4" [doctors]="doctors$" [myDoctors]="myDoctors" [user]="user"></app-select-doctors>
  </div>
</div>