<div class="pb-2 mb-5">
  <ng-container *ngIf="feedbacks$ | async; let feedbacks">
    <ng-container *ngIf="feedbacks?.length">
      <div *ngFor="let feedback of feedbacks" class="card mx-2 my-3 p-3" [class.text-right]="feedback.status < 2">
        <div *ngIf="feedback.status < 2" class="text-right">
          您： <span class="text-muted small">发送于 {{ feedback.createdAt | localDate: 'full'}}</span>
          <hr>
          <div class="mt-n2 mb-2">
            {{feedback.name}}
          </div>
          {{feedback.how}}
          <div class="text-muted">
            开始日期: {{ feedback.startDate ? (feedback.startDate | localDate): '未设置' }} -
            结束日期: {{ feedback.endDate ? (feedback.endDate | localDate): '未设置' }}
          </div>
        </div>

        <div *ngIf="feedback.status >= 2">
          {{doctor.name + doctor.title}}回复： <span class="text-muted small">发送于 {{ feedback.createdAt | localDate: 'full'}}</span>
          <hr>
          <div class="mt-n1 mb-1">
            {{ feedback.name }}
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!feedbacks?.length">
      <div class="px-3 py-2">
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="fixed-bottom px-4 py-2" [class.d-none]="hideAddBtn">
  <button type="button" class="btn btn-primary btn-block" (click)="add()">
    新增
  </button>
</div>