<div class="msg_card_body px-2 h-100">
    <div *ngFor="let chat of chats" class="mb-2" [ngClass]="chat.sender !== doctor?._id ? ' sender': 'to'">

        <ng-container *ngIf="chat.sender !== doctor._id">
            <div class="d-flex align-items-end flex-row-reverse">
                <div class="img_cont_msg">
                    <span class="triangle"></span>
                    <img [src]="user?.icon" class="rounded-circle user_img_msg">
                </div>
                <div class="msg-data" [ngSwitch]="chat.type">
                    <div *ngSwitchCase="dataType.picture">
                        <img [src]="chat.data | imgPath" appImgClickView
                            onerror="this.src='assets/images/no-image.png';this.onerror='';"
                            class="img-fluid img-thumbnail">
                    </div>
                    <div *ngSwitchDefault class="text-break" [innerHTML]="translateEmoji(chat.data)">
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="chat.sender === doctor._id">
            <div class="d-flex align-items-start flex-row">
                <div class="img_cont_msg">
                    <span class="triangle"></span>
                    <img [src]="doctor?.icon | imgPath" onerror="this.src='assets/images/default.svg';this.onerror='';"
                        class="rounded-circle user_img_msg">
                </div>
                <div class="msg-data" [ngSwitch]="chat.type">
                    <div *ngSwitchCase="dataType.picture">
                        <img [src]="chat.data | imgPath" appImgClickView
                            onerror="this.src='assets/images/no-image.png';this.onerror='';"
                            class="img-fluid img-thumbnail">
                    </div>
                    <div *ngSwitchCase="dataType.command">
                        **** {{translateCommand(chat.data)}} ****
                    </div>
                    <div *ngSwitchDefault class="text-break" [innerHTML]="translateEmoji(chat.data)">
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="msg-time">{{chat.created | localDate: 'auto'}}</div>
    </div>

    <div id="_bottom" class="pb-5" [class.chat-emoji-adjust]="showEmoji"></div>
</div>

<div class="fixed-bottom text-muted bg-light">
    <div *ngIf="setCharged" class="alert alert-warning mb-0 py-1">
        请选择
        <button mat-stroked-button color="accent" class="mx-2" (click)="goConsult(0)">
            <mat-icon>keyboard</mat-icon> 图文咨询
        </button>
        <button mat-stroked-button color="accent" class="mx-2" (click)="goConsult(1)">
            <mat-icon>phone</mat-icon> 电话咨询
        </button>
    </div>
    <div class="d-flex" *ngIf="!setCharged">
        <input matInput class="weui-input pl-2 align-self-center" autocomplete="off" placeholder="请输入..."
            cdkFocusInitial (keyup.enter)="send()" [(ngModel)]="myInput">
        <button mat-icon-button (click)="toggleEmoji()">
            <mat-icon>mood</mat-icon>
        </button>
        <ng-container *ngIf="!myInput">
            <input hidden="true" type="file" accept="image/*" (change)="imageUpload($event)" #fileInput>
            <button mat-icon-button (click)="fileInput.click()">
                <mat-icon>image</mat-icon>
            </button>
            <button mat-icon-button *ngIf="false">
                <mat-icon>keyboard_voice</mat-icon>
            </button>
        </ng-container>
        <button mat-flat-button *ngIf="myInput" class="weui-btn weui-btn_mini weui-btn_primary"
            (click)="send()">发送</button>
    </div>

    <div *ngIf="showEmoji">
        <div class="qqface">
            <ng-container *ngFor="let code of qqfaces; let i=index">
                <ng-container *ngIf="i<90">
                    <button mat-icon-button (click)="addEmoji(code)">
                        <img [src]="'assets/qqface/' + code + '.gif'" />
                    </button>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>