<button class="weui-btn weui-btn_primary" (click)="test()">绿色按钮</button>
<button class="weui-btn weui-btn_primary" (click)="refreshToken()">刷新Token</button>
<button class="weui-btn weui-btn_primary" (click)="displayStore()">App store</button>
{{returnMessage}}
<hr>
{{errorMessage}}

<div *ngFor="let chat of chats" class="mb-2" [ngClass]="chat.sender === doctor?._id ? ' sender': 'to'">

    <div class="d-flex"
      [ngClass]="chat.sender === doctor?._id ? 'align-items-end flex-row-reverse': 'align-items-start flex-row'">
      <div class="img_cont_msg">
        <!-- <img [src]="selectedPatient?.icon" class="rounded-circle user_img_msg"> -->
      </div>
      <div class="msg-data">
        {{ chat.data }}
      </div>
    </div>
    <div class="msg-time">{{chat.created | localDate: 'time'}}</div>
  </div>
<div id="chat-bottom"></div>

<div class="fixed-bottom text-center text-muted">
    <input type="text" class="weui-input">
</div>