<div [formGroup]="form">
  <div class="card p-2 mx-2 my-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex">
        <label class="item-label">姓名:</label>
        <input mat-input class="weui-input" type="text" formControlName="name" placeholder="请输入">
      </li>
      <li class="list-group-item d-flex">
        <label class="item-label">性别:</label>
        <mat-radio-group class="weui-input" formControlName="gender">
          <mat-radio-button value="M" class="pl-0">男</mat-radio-button>
          <mat-radio-button value="F" class="pl-3">女</mat-radio-button>
        </mat-radio-group>
      </li>
      <li class="list-group-item d-flex align-items-center py-1">
        <span class="item-label">生日:</span>
        <button mat-button (click)="selectBirthdate()">
          {{ birthdate ? (birthdate | localDate) : '请选择出生日期'}}
        </button>
      </li>
      <li class="list-group-item d-flex">
        <span class="item-label">电话:</span>
        <input class="weui-input" type="text" formControlName="cell" placeholder="请输入">
      </li>
      <li class="list-group-item d-flex">
        <span class="item-label">社保号:</span>
        <input class="weui-input" type="text" formControlName="sin" placeholder="请输入">
      </li>
      <li class="list-group-item d-flex">
        <span class="item-label">门诊号:</span>
        <input class="weui-input" type="text" formControlName="admissionNumber" placeholder="请输入">
      </li>
    </ul>
  </div>

  <div class="py-2 px-4">
    <button type="button" class="btn btn-primary btn-block" [disabled]="form.invalid" (click)="save()">
      保存
    </button>
  </div>
</div>