<div class="card p-2 mx-2 my-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="item-label">姓名:</span>
      {{ user.name }}
    </li>
    <li class="list-group-item">
      <span class="item-label">生日:</span>
      {{ (user.birthdate | localDate) || '未设置' }}
    </li>
    <li class="list-group-item">
      <span class="item-label">电话:</span>
      {{ user.cell || '未设置' }}
    </li>
    <li class="list-group-item">
      <span class="item-label">社保号:</span>
      {{ user.sin || '未设置' }}
    </li>
    <li class="list-group-item">
      <span class="item-label">门诊号:</span>
      {{ user.admissionNumber || '未设置' }}
    </li>
  </ul>
</div>

<div class="py-2 px-4">
  <button type="button" class="btn btn-primary btn-block" (click)="save()">
    确定
  </button>
</div>