<div class="card m-2" [formGroup]="form">
  <ul class="list-group list-group-flush text-muted">
    <li class="list-group-item">
      <span class="h5">
        新增{{ typeLabel }}详情
      </span>
      <span class="text-warning pl-3"></span>
    </li>
    <li class="list-group-item">
      <span class="item-label">反馈药师:</span>
      {{ data.doctor.name }}
    </li>
    <li class="list-group-item d-flex">
      <span class="item-label">{{type === 1 ? '不良反应': '药物名称'}}:</span>
      <div class="px-2 py-0 w-100">
        <textarea class="weui-textarea" type="text" formControlName="name" placeholder="请输入"
          [rows]="type === 1 ? 3 : 1"></textarea>
      </div>
    </li>
    <li class="list-group-item d-flex" *ngIf="type=== 2">
      <div class="item-label">用药方法:</div>
      <div class="px-2 py-0 w-100">
        <textarea class="weui-textarea" placeholder="请输入用药方法" rows="3" formControlName="how">
        </textarea>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center py-2">
      <span class="item-label">开始日期:</span>
      <div>
        <input mat-input class="weui-input w-50" id="startDate" #startDate [matDatepicker]="pickerStart"
          formControlName="startDate" [max]="startMaxDate">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center py-2">
      <span class="item-label">结束日期:</span>
      <div>
        <input mat-input class="weui-input w-50" id="endDate" #endDate [matDatepicker]="pickerEnd"
          formControlName="endDate" [min]="endMinDate">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </div>
    </li>
    <li class="list-group-item">
      <div class="weui-uploaders">
        <div class="weui-uploader__title pb-2">
          附件图片:
        </div>

        <div *ngIf="avatar">
          <img src="{{ avatar }}" onerror="this.src='assets/images/icon/default.svg';this.onerror='';"
            class="avatar-image img-fluid img-thumbnail z-depth-1" alt="">
          <div class="p-1 mb-4">
            <button mat-fab color="primary" title="删除图片" (click)="removeUploaded()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="weui-uploader__input-box" *ngIf="!avatar">
          <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="false"
            (change)="imageUpload($event)" />
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="fixed-bottom px-4 py-2">
  <div class="d-flex">
    <div class="w-50 pr-2">
      <button type="button" class="btn btn-light btn-block" (click)="back()">
        返回
      </button>
    </div>
    <div class="w-50">
      <button type="button" class="btn btn-primary btn-block" [disabled]="form.invalid" (click)="submit()">
        提交
      </button>
    </div>
  </div>
</div>