<ng-container *ngIf="newsItems?.length === 0 && !loading">
  <div class="alert alert-warning mt-3" role="alert">
    暂无热门文章。
  </div>
</ng-container>

<ng-container *ngIf="newsItems?.length">
  <mat-nav-list>
    <ng-container *ngFor="let item of newsItems">
      <!-- <mat-list-item class="list-item d-flex justify-content-between">
        <div class="pr-2">
          {{ item.title }}
        </div>
        <div>
          <img [src]="item.thumb_url" width="88" height="68"
            onerror="this.src='assets/images/no-image.png';this.onerror='';" class="">
        </div>
      </mat-list-item> -->
      <div class="list-item p-2 d-flex justify-content-between align-items-center">
        <a class="item-title" [href]="item.url">
          {{ item.title }}
        </a>
        <div>
          <img [src]="item.thumb_url" width="88" height="68"
            onerror="this.src='assets/images/no-image.png';this.onerror='';">
        </div>
      </div>
    </ng-container>
  </mat-nav-list>
</ng-container>


<div class="text-center pt-3 pb-4">
  <div class="spinner-item" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50">
    </mat-progress-spinner>
  </div>
  <ng-container *ngIf="currentItemCount < totalItemCount">
    <button mat-button color="primary" (click)="loadMore()" style="color: green">加载更多文章 ...</button>
  </ng-container>
  <!-- {{newsItems.length}}| {{currentItemCount}} | {{totalItemCount}} -->
</div>