<div class="text-center bg-white mb-3 p-2">
  <img src="{{doctor?.icon | imgPath}}" onerror="this.src='assets/images/default.svg';this.onerror='';"
    class="rounded-circle img_msg">
  <div class="py-2">
    <span class="h5">{{doctor.name}}</span>
    <span class="pl-3 text-muted">{{doctor.title}}</span>
    <div class="pt-1">
      {{doctor.department?.name}}
    </div>
  </div>

  <div>
    <ng-container *ngIf="relationExisted">
      <button mat-stroked-button color="primary" class="px-5" (click)="removeFocus()">
        <mat-icon class="mb-1">star_border</mat-icon> 取消关注
      </button>
    </ng-container>
    <ng-container *ngIf="!relationExisted">
      <button mat-raised-button type="button" class="btn btn-primary text-white px-5" (click)="addFocus()">
        <mat-icon class="mb-1">star_border</mat-icon> 增加关注
      </button>
    </ng-container>
  </div>

  <div class="mt-3 px-2 d-flex align-items-center" *ngIf="tags?.length">
    <span>擅长：</span>
    <mat-chip-list>
      <mat-chip color="accent" *ngFor="let tag of tags">
        {{tag}}
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="pt-2 mt-3" *ngIf="userRole">
    <app-consult-services [doctor]="doctor" [openid]="openid" [state]="state" ></app-consult-services>
  </div>
</div>

<div class="card px-3 pt-3 pb-1 m-2">
  <div class="border-bottom mb-2">
    <mat-icon class="text-warning">assignment</mat-icon>
    <span class="section-title">药师简介</span>
  </div>
  <div class="text-muted text-wrap pb-2" [innerHTML]="doctor?.bulletin || '未设置'">
  </div>
</div>

<div class="card px-3 pt-3 pb-1 m-2">
  <div class="border-bottom mb-2">
    <mat-icon class="text-warning">verified</mat-icon>
    <span class="section-title">擅长领域</span>
  </div>
  <div class="text-muted text-wrap pb-2" [innerHTML]="doctor?.expertise || '未设置'">
  </div>
</div>

<div class="card px-3 pt-3 pb-1 m-2">
  <div class="border-bottom mb-2">
    <mat-icon class="text-warning">emoji_events</mat-icon>
    <span class="section-title">获奖情况</span>
  </div>
  <div class="text-muted text-wrap pb-2" [innerHTML]="doctor?.honor || '无'">
  </div>
</div>

<div class="card px-3 pt-3 pb-1 m-2">
  <div class="border-bottom mb-2">
    <mat-icon class="text-warning">schedule</mat-icon>
    <span class="section-title">工作时间</span>
  </div>
  <div class="text-muted text-wrap pb-2" [innerHTML]="doctor?.hours || '未设置'">
  </div>
</div>