<div class="card p-2 m-2 text-muted">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <mat-icon class="text-warning">assignment</mat-icon>
      <span class="section-title h6">预约信息</span>
    </li>
    <li class="list-group-item pt-2 pb-1">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <span class="item-label">预约科室:</span>
          {{ booking.schedule?.doctor.department?.name }}
        </div>
        <div>
          <button mat-icon-button (click)="showMap(true)">
            <mat-icon class="text-warning">location_on</mat-icon>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <span class="item-label">预约药师:</span>
      {{ booking.schedule?.doctor.name}}
    </li>
    <li class="list-group-item">
      <span class="item-label">预约时间:</span>
      {{ booking.created | localDate}} {{booking.schedule?.period.name}}
    </li>
    <li class="list-group-item">
      <div>
        <span class="item-label">预约地址:</span>
        {{ booking.schedule?.doctor.department?.address }}
      </div>
    </li>
    <li class="list-group-item py-1 pr-1">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <span class="item-label">预约状态:</span>
          {{ getBookingStatus(booking.status) }}
        </div>
        <div>
          <button mat-raised-button *ngIf="booking.status === 1" (click)="cancelBook(booking)">
            取消预约</button>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="card p-2 m-2 text-muted">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <mat-icon class="text-warning">person_outline</mat-icon>
      <span class="section-title h6">个人信息</span>
    </li>
    <li class="list-group-item">
      <span class="item-label">姓名:</span>
      {{ user?.name }}
    </li>
    <li class="list-group-item">
      <span class="item-label">手机号码:</span>
      {{ user?.cell }}
    </li>
  </ul>
</div>

<div class="py-2 px-4" *ngIf="!data.noReturn">
  <button type="button" class="btn btn-primary btn-block" (click)="close()">
    确定
  </button>
</div>

<div class="model" [class.d-none]="!showDirection" class="fixed-top p-2">
  <div class="card">
    <div class="card-body">
      <span>
        {{ booking.schedule?.doctor.department?.name }}门诊指示图
      </span>
      <span mat-raised-button class="float-right" (click)="showMap(false)">
        <mat-icon>close</mat-icon>
      </span>
    </div>
    <img [src]="booking.schedule?.doctor.department?.direction"
      onerror="this.src='assets/images/noimage.jpg';this.onerror='';" class="card-img-top" alt="...">

  </div>
</div>