:host {
  .list-item {
    height: 88px;
    background-color: whitesmoke;
    font-size: 1.05rem;
    line-height: 1.3rem;
    margin-top: 1px;
    border-bottom: 1px solid lightgray;

    .item-title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 0.25rem;
    }
  }  

  .spinner-item {
    display: grid;
    place-items: center;
  }
}
