<img [src]="'assets/party-building.jpg' | imgPath" onerror="this.src='assets/images/no-image.png';this.onerror='';"
  class="img-fluid img-thumbnail">

<ng-container *ngIf="newsItems?.length === 0 && !loading">
  <div class="alert alert-warning mt-3" role="alert">
    暂无党建园地文章。
  </div>
</ng-container>

<ng-container *ngIf="newsItems?.length">
  <div class="list-group">
    <div *ngFor="let item of newsItems">
      <a [href]="item.targetUrl" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h3 class="mb-1" style="line-height: 1.3rem;">{{ item.name }}</h3>
          <div class='pl-2 text-center'>
            <div class="text-right text-muted" style="padding-top: 1px">
              <img class="rounded" style='width: 80px'  [src]="item.title_image + '&mode=widthFix'" alt="...">
            </div>
            <small class="text-nowrap text-muted" style="padding-top: 2px">
              <ng-container *ngIf="item.update_time">{{item.update_time | localDate: 'wx'}}</ng-container>
              <ng-container *ngIf="!item.update_time">{{item.createdAt | localDate}}</ng-container>
            </small>
          </div>
        </div>
        <!-- <p class="mb-1 text-muted">{{ item.title }}&nbsp;...</p> -->
      </a>
    </div>
  </div>
</ng-container>


<div class="text-center pt-3 pb-4">
  <div class="spinner-item" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="20">
    </mat-progress-spinner>
  </div>
</div>