<h1 class="text-center pt-3 pb-2">《注册协议》</h1>
<div class="p-2">
  <p class="p-before">
    请仔细阅读协议，将依据以下的条件和条款，为您提供相关的服务。
  </p>
  <p>
    协议适用于您使用找药师服务平台所提供的各种信息和相关的服务，请软件使用人（相关客户端的使用人，简称：“用户”）仔细阅读本注册协议，您点击“注册”按钮后，本协议即构成对双方有约束力的法律文件。用户自愿使用找药师服务平台，双方就相关的内容，达成了本协议。
  </p>

  <h3>一、用户的注册与条款的确认</h3>
  <ul>
    <li>
      1. 用户同意本协议条款并完成相关的注册程序，才能使用找药师服务平台。
    </li>
    <li>
      2. 用户应自行诚信向本平台提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且找药师保留终止用户使用找药师平台各项服务的权利。
    </li>
    <li>
      3. 协议是处理双方权利义务的契约，始终有效。用户同意本协议，就确认自己具有享受本客户端服务等相应的权利能力和行为能力，能够独立承担法律责任。
    </li>
    <li>
      4. 如果您未满18周岁，您只能在父母或监护人的监护参与下才能使用本平台。
    </li>
  </ul>

  <h3>
    二、隐私与免责的声明
  </h3>
  <ul>
    <li>
      1. 用户须遵守中华人民共和国的相关法律、法规，不能使用含有威胁、淫秽、谩骂、非法、侵害他人权益等有争议的信息资料。
    </li>
    <li>
      2. 服务平台运营方承诺非经法律程序不会泄露用户的个人信息。
    </li>
    <li>
      3. 注册用户须保护好自己的账号和密码，因用户本人泄露而造成的任何损失，由本人负责。不得盗用他人账号，由此行为造成的后果自负。
    </li>
    <li>
      4. 用户同意，找药师拥有通过邮件、短信、电话等形式，向在本平台注册的用户发送药学信息、用药教育活动等等的权利。
    </li>
    <li>
      5. 用户应关注并遵守本平台不时公布或修改的各类合法规则规定。本平台保有删除各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，本平台有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。
    </li>
    <li>
      6. 找药师有权拒绝回复非注册药师的所在医院患者提出有关药学服务以外的咨询问题。
    </li>
    <li>
      7. 找药师所有信息仅供参考，不做个别诊断、用药和使用的唯一根据。
    </li>
    <li>
      8. 找药师所提供的任何药学信息，仅供患者、医师或其他医务人员参考，如患者自行使用找药师的资料发生偏差，平台运营方概不负责，亦不负任何法律责任。
    </li>
    <li>
      9. 平台中的药学服务提供者均为拥有中华人民共和国药师资格证书的专业药师。但咨询建议仅为依据提问者描述而提供医师参考的建议性内容，不能作为患者自行更改医嘱/处方的依据。提供服务的药学专家及找药师服务平台运营方不承担相关的法律责任。
    </li>
    <li>
      10. 找药师服务平台致力于尽量提供正确，完整的健康资讯，但不保证信息的绝对正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。
    </li>
  </ul>

  <h3>
    三、平台服务内容
  </h3>
  <ul>
    <li>
      1. 本平台上找药师显示的药学专科门诊信息随时都有可能发生变动，本平台不作特别通知。本平台显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解。请患者在提交预约前需要根据疾病对应专科再做确认；
    </li>
    <li>
      2. 系统生成的预约信息是计算机信息系统根据您填写的内容自动生成的数据，找药师收到您的预约信息后，只有在找药师将您在提交的预约服务向您或指定联系人交付时（以您收到预约确认信息为准），方视为您与找药师之间就向您或指定联系人提供的服务建立了预约服务；
    </li>
    <li>
      3. 您可以随时登陆您在本平台注册的账户，查询您的预约状态。
    </li>
    <li>
      4. 如您预约的药学门诊服务，因您个人原因无法出席的情形，您可以在系统截止时间前主动取消预约；如您有多次违约不到记录，平台有权在一定范围内限制您往后的预约。
    </li>
    <li>
      5. 找药师将会把药学文章、用药相关讲座活动、预约信息以及用药提醒等信息发送到您或指定联系人所指定的接收端或手机号等，以上根据本服务平台已实现功能进行发送。
    </li>
    <li>
      6. 如有以下情况造成收到信息延迟或无法交付服务等，找药师不承担延迟交付的责任：
      <ul class="list-unstyled px-3">
        <li>
          1) 用户提供的信息错误、接受端设备等原因导致的；
        </li>
        <li>
          2) 信息发送后无人查阅的；
        </li>
        <li>
          3) 情势变更因素导致的；
        </li>
        <li>
          4) 不可抗力因素导致的，例如：自然灾害、基础网络问题、突发战争、网络黑客等。
        </li>
      </ul>
    </li>
    <li>
      7. “咨询”特指用户通过本平台提交的咨询信息和通过预约特定药师的微信公众号咨询，咨询的交互主体为本平台的用户和找药师的注册药师。咨询均只限于根据用户的主观描述，药师尽可能利用药学知识及临床经验给予一定的解惑及如何用药方面的建议，不保证满足用户用药方面的建议一定能获得。不对结果是否符合用户预期做保证。
    </li>
    <li>
      8. 用户在咨询过程中要语言文明，尊重药师，平等交流。如有对药师恶意中伤，语言不文明，药师有权立即中断服务。
    </li>
    <li>
      9. 线上咨询过程中遇到药师有紧急事情处理时（职业要求），要给予理解，暂停咨询，并重新安排咨询的具体时间。
    </li>
  </ul>

  <h3>
    四、运营方的服务
  </h3>
  <ul>
    <li>
      1. 按照现有技术和条件所满足的条件，提供的相关服务，维护平台服务的正常运营，并努力提升技术及改进技术，尽最大努力为用户提供服务，确保服务的连贯性和安全性。但不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。
    </li>
    <li>
      2. 找药师有权对用户的注册数据及微信咨询的行为记录进行查阅，发现注册数据或咨询行为中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接做出删除等处理。
    </li>
    <li>
      3. 系统因下列状况无法正常运作，使用户无法使用线上咨询服务时，找药师不承担损害赔偿责任，该状况包括但不限于：
      <ul class="list-unstyled px-3">
        <li>
          1) 找药师在本网站公告之系统停机维护期间；
        </li>
        <li>
          2) 网络、电信设备出现故障不能进行数据传输的；
        </li>
        <li>
          3) 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的；
        </li>
        <li>
          4) 由于黑客攻击、电信部门技术调整或故障方面的问题等原因而造成的服务中断或者延迟。
        </li>
      </ul>
    </li>
  </ul>

  <h3>
    五、法律的管辖与适用
  </h3>
  <ul>
    <li>
      1. 本软件协议的订立、执行和解释及争议的解决，均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按照法律规定重新解释，而其它有效条款继续有效。
    </li>
    <li>
      2. 用户就本协议内容或执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。
    </li>
  </ul>

  <h3>
    六、协议的修改与其他
  </h3>
  <ul>
    <li>
      1. 找药师运营方保留对本协议各条款做出不定时修改的权利并公示。
    </li>
    <li>
      2. 如用户继续使用找药师的服务，即表示您接受经修订的协议和规则。
    </li>
    <li>
      3. 用户注册并使用找药师平台，即视为用户完全接受本协议，请用户再次确认已知悉并完全理解本协议的全部内容。
    </li>
  </ul>
</div>