<!-- <div class="fixed-top weui-flex bg-white px-2">
  <div class="weui-flex__item py-2">
    <button mat-button (click)="viewMyDoctors()">我的药师团队</button>
  </div>
</div> -->

<div class="fixed-top weui-flex bg-white pl-4 pr-2 py-2">
  <div class="weui-flex__item pt-2">我的药师团队</div>
  <div class="weui-flex__item text-right">
      <button mat-button (click)="addDoctor()"> 关注新药师
          <mat-icon class="text-warning">person_add_outline</mat-icon>
      </button>
  </div>
</div>
<div class="pt-5 px-2">
  <app-select-doctors [pageType]="2" [doctors]="doctors$" [user]="user"></app-select-doctors>
</div>
