<ng-container *ngIf="currentPrescription?.length">
  <div class="px-3 pt-3">
    门诊处方
  </div>

  <div class="card mx-2 my-3 p-2" *ngFor="let med of currentPrescription">
    <div class="border-bottom p-2">
      <span class="text-warning">{{ med.name }}</span>
      <span class="text-muted pl-3">({{ med.capacity}}{{med.unit}}*{{med.quantity}})</span>
    </div>
    <div class="p-2">
      <span class="text-muted pr-2">服用方式: </span>{{ med.usage}}, {{ showDosageInstruction(med.dosage, med.unit)}}
    </div>
  </div>
</ng-container>


<ng-container *ngIf="currentNotices?.length">
  <div class="px-3 pt-2">
    监测计划
  </div>

  <div class="card mx-2 my-3 px-2 py-3" *ngFor="let notice of currentNotices">
    <div class="section-title">
      {{ notice.notice }}
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!currentPrescription?.length">
  <div class="px-3 py-4">
    没有当日用药提醒。
  </div>
</ng-container>

<div class="fixed-bottom px-4 py-2">
  <button type="button" class="btn btn-primary btn-block" (click)="close()">
    确定
  </button>
</div>