:host {
  .img_msg {
    height: 100px;
    width: 100px;
    border: 1.5px solid #f5f6fa;
  }
  .item-label {
    float: left;
    width: 5rem;
  }
  .section-title {
    line-height: 1.5rem;
    vertical-align: top !important;
    padding-left: 1.2rem;
  }
}
