<div class="pl-3 py-2 position-fixed w-100 " style="left: 0; background-color: aliceblue; opacity: 0.75"
  *ngIf="data.title">
  {{data.title}}
  <!-- {{marginLeft}}, {{marginTop}} [{{scale}}] = {{imgWidth}} -->
</div>
<button type="button" class="close px-3 position-fixed" style="right: 0.25rem; top: 0.25rem" mat-dialog-close
  aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="d-flex justify-content-center">
  <div class="align-self-start position-fixed mt-5">
    <button mat-icon-button color="primary" class="mx-3" (click)="zoomin()">
      <mat-icon class="nav-icon">add_circle</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="mx-3" (click)="zoomout()">
      <mat-icon class="nav-icon">remove_circle</mat-icon>
    </button>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center" [style.height.px]="winHeight">
  <img [src]="data.imgPath | imgPath" onerror="this.src='assets/images/none.png';this.onerror='';"
    [style.width.px]="imgWidth*scale" [style.margin-left.px]="marginLeft" [style.margin-top.px]="marginTop" alt=""
    (panleft)="onPanLeft($event)" (panright)="onPanRight($event)" (panup)="onPanUp($event)"
    (pandown)="onPanDown($event)">
</div>