<div class="text-center p-3">
    <h2 class="page__title">首页</h2>
    <div class="page__desc">选择以下选项</div>
</div>

<div class="text-center">
    <button class="weui-btn weui-btn_primary" (click)="nav('chat-select')">在线咨询</button>
    <button class="weui-btn weui-btn_primary" (click)="nav('book-select')">预约门诊</button>
    <button class="weui-btn weui-btn_primary" (click)="nav('my-doctors')">我的药师团队</button>
    <button class="weui-btn weui-btn_primary" (click)="nav('my-reservation')">我的预约</button>
    <button class="weui-btn weui-btn_primary" (click)="nav('profile')">个人中心</button>
    <button class="weui-btn weui-btn_primary" (click)="nav('current-diagnose')">当前门诊</button>
    <hr>
    <button class="weui-btn weui-btn_primary" (click)="refreshToken()">刷新Token</button>
    <button class="weui-btn weui-btn_primary" (click)="displayStore()">App store</button>
</div>

<div class="fixed-bottom text-center text-muted">
    hwem
</div>