<div class="page">
    <div class="text-center p-3">
        <h2 class="page__title">首页</h2>
        <div class="page__desc">选择以下选项</div>
    </div>

    <div class="button-sp-area">
        <button (click)="nav('chat')" class="weui-btn weui-btn_default">在线咨询</button>
        <a href="/book" class="weui-btn weui-btn_default">预约门诊</a>
        <a href="/my-doctors" class="weui-btn weui-btn_default">我的药师团队</a>
        <a href="/my-reservation" class="weui-btn weui-btn_default">我的预约</a>
        <a href="/my-history" class="weui-btn weui-btn_default">个人中心</a>
        <a href="/current-diagnose" class="weui-btn weui-btn_default">当前门诊</a>
    </div>

</div>
<div class="fixed-bottom weui-footer">
    hwem
</div>