<ng-container *ngIf="advises$ | async; let advises">

  <ng-container *ngIf="advises?.length">
    <div class="card mx-2 my-3 p-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item pr-0" *ngFor="let advise of advises">
          <div class="d-flex justify-content-between">
            <span class="">{{ advise.doctor?.department?.name}}</span>
            <span class="text-muted px-3">{{ advise.updatedAt | localDate }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <div class="pt-2">
              <span class="h6">{{ advise.doctor?.name}}</span>
              <span class="text-muted pl-3">{{ advise.doctor?.title}}</span>
            </div>
            <button mat-button class="text-warning" (click)="goDetails(advise)">
              查看详情 <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>

        </li>
      </ul>
  
    </div>
  </ng-container>

  <ng-container *ngIf="!advises?.length">
    <div class="px-3 py-4">
      您还没有线下咨询历史记录。
    </div>
  </ng-container>
</ng-container>
